<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.plnyyanks.frcnotebook" >

    <uses-sdk   android:targetSdkVersion="19"
                android:minSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/theme_light"
        android:versionCode="7"
        android:versionName="2.2.3"
        >
        <activity
            android:name=".activities.StartActivity"
            android:label="@string/title_activity_start" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.EventDownloadActivity"
            android:label="@string/title_activity_event_download"
            android:parentActivityName=".activities.StartActivity" >
        </activity>
        <activity
            android:name=".activities.ViewEvent"
            android:label="@string/title_activity_view_event"
            android:parentActivityName=".activities.StartActivity" >
        </activity>
        <activity
            android:name=".activities.ViewTeam"
            android:label="@string/title_activity_view_team"
            android:parentActivityName=".activities.ViewEvent" >
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.StartActivity" >
        </activity>
        <activity
            android:name=".activities.ViewMatch"
            android:label="@string/title_activity_view_match"
            android:parentActivityName=".activities.ViewEvent">
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
