<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.plnyyanks.frcnotebook" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- GCM stuff -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.plnyyanks.frcnotebook.permission.C2D_MESSAGE" />

    <!-- Device Accounts -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/theme_light"
        android:versionCode="25"
        android:versionName="3.2.1" >
        <activity
            android:name="com.plnyyanks.frcnotebook.activities.StartActivity"
            android:label="@string/title_activity_start" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.plnyyanks.frcnotebook.activities.EventDownloadActivity"
            android:label="@string/title_activity_event_download"
            android:parentActivityName="com.plnyyanks.frcnotebook.activities.StartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plnyyanks.frcnotebook.activities.StartActivity" />
        </activity>
        <activity
            android:name="com.plnyyanks.frcnotebook.activities.ViewEvent"
            android:label="@string/title_activity_view_event"
            android:parentActivityName="com.plnyyanks.frcnotebook.activities.StartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plnyyanks.frcnotebook.activities.StartActivity" />
        </activity>
        <activity
            android:name="com.plnyyanks.frcnotebook.activities.ViewTeam"
            android:label="@string/title_activity_view_team"
            android:parentActivityName="com.plnyyanks.frcnotebook.activities.ViewEvent" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plnyyanks.frcnotebook.activities.ViewEvent" />
        </activity>
        <activity
            android:name="com.plnyyanks.frcnotebook.activities.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.plnyyanks.frcnotebook.activities.ViewMatch"
            android:label="@string/title_activity_view_match"
            android:parentActivityName="com.plnyyanks.frcnotebook.activities.ViewEvent" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plnyyanks.frcnotebook.activities.ViewEvent" />
        </activity>
        <activity
            android:name="com.plnyyanks.frcnotebook.activities.FieldMonitorActivity"
            android:label="@string/title_activity_field_monitor"
            android:parentActivityName="com.plnyyanks.frcnotebook.activities.ViewMatch" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plnyyanks.frcnotebook.activities.ViewMatch" />
        </activity>
        <activity
            android:name="com.plnyyanks.frcnotebook.activities.PredefinedNoteManager"
            android:label="@string/title_activity_predefined_note_manager"
            android:parentActivityName="com.plnyyanks.frcnotebook.activities.SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plnyyanks.frcnotebook.activities.SettingsActivity" />
        </activity>
        <activity
            android:name="com.plnyyanks.frcnotebook.activities.AddEvent"
            android:label="@string/title_activity_add_event" >
        </activity>
        <activity
            android:name="com.plnyyanks.frcnotebook.activities.OpenSourceLicensesActivity"
            android:label="@string/license_label"
            android:parentActivityName="com.plnyyanks.frcnotebook.activities.StartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.plnyyanks.frcnotebook.activities.StartActivity" />
            </activity>
        <activity
            android:name=".activities.AuthenticatorActivity"
            android:label="@string/title_activity_authenticator"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <service
            android:name="com.plnyyanks.frcnotebook.accounts.AccountAuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <receiver
            android:name="com.plnyyanks.frcnotebook.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.thebluealliance.androidclient" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
